<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 選課系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <b>
            @Html.ActionLink("選課系統", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a>@Html.ActionLink("課程編輯", "Course", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                </li>
                <li class="nav-item active">
                    <a>@Html.ActionLink("學生編輯", "Student", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                </li>
                <li class="nav-item active">
                    <a>@Html.ActionLink("選課", "Selection", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 選課系統</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
